@import "variables.scss";

:local(.icon) {
  margin-right: 2*$default-padding;
}

:local(.fixedWith) {
 
}

:local(.md12) {
  font-size: 12px;
}
:local(.md18) {
  font-size: 18px;
}

:local(.md24) {
  font-size: 24px;
}

:local(.md36) {
  font-size: 36px;
}

:local(.md48) {
  font-size: 48px;
}
