<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="auth.userProfile">

            <img src="{{auth.userProfile.picture}}" class="avatar" alt="avatar">
            <div>
              <label><i class="glyphicon glyphicon-user"></i> Nickname</label>
              <h3 class="nickname">{{ auth.userProfile.nickname }}</h3>
            </div>
            <pre class="full-profile">{{ auth.userProfile | json }}</pre>
            <p (click)="auth.logout()">Logout</p>

          </div>
          <div *ngIf="!auth.userProfile">
            <mat-progress-spinner></mat-progress-spinner>
            <mat-spinner></mat-spinner>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>