@import url("https://fonts.googleapis.com/css?family=Roboto");
:local(.navigation) {
  width: 150px;
  font-size: 16px; }
  :local(.navigation) .menu.menu > a > div {
    padding: 5px; }
  :local(.navigation) .menu a {
    color: currentColor;
    text-decoration: none; }
  :local(.navigation) .menu:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black; }

:local(.selected) div:not(:hover) {
  background-color: rgba(250, 250, 250, 0.5); }
